*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: rgb(52, 55, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("orange.jpg");
}
.box{
    height: 400px;
    width: 300px;
    background: rgb(34, 33, 33);
    box-shadow: 18px 20px 8px 0px rgb(0 0 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box form h1{
    cursor: pointer;
    font-family: sans-serif;
    color: white;
    margin: 10px;
}
.box form input{
    font-size: 1rem;
    color: rgb(192, 192, 192);
    text-align: center;
    outline: none;
    border: 2px solid rgb(98, 191, 235);
    background: transparent;
    margin: 10px;
    display: flex;
    border-radius: 20px;
    padding: 10px;
}
.box form button{
    cursor: pointer;
    outline: none;
    border: 2px solid rgb(59, 194, 59);
    color: white;
    background: transparent;
    margin: 10px;
    border-radius: 20px;
    padding: 10px 15px;
}