{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'signup.css' %}">
</head>

<body>
    <div class="box">
        <form action="register" method="POST">
            {% csrf_token %}
            <h1>SIGNUP</h1>
            <input type="text" name="username" placeholder="Username">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="password2" placeholder="Confirm Password">
            <a href="/login">
                <button name="">Signup</button>
            </a>
        </form>
    </div>
</body>

</html>